body {
  background-color: black;
}

@media (min-width: 1951px) and (max-width:3500px) {
  header{
    border-bottom: 2px solid white;
    padding-bottom: 10px;
  }
  .name_picture {
    display: flex;
    align-items: flex-end;
    position: relative;
    margin-left: 50px;
  }

  .name_header {
    color: white;
    line-height: 1.5;
    font-family: "Aboreto", system-ui;
    font-weight: 400;
    font-size: 120px;
    margin-top: auto;
    bottom: 0;
    right: 0;
    padding-left: 30px;
    align-items: flex-end;
    align-self: center;
    position: absolute;
  }

  /* start of navbar styling */
  .nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 0px 0px;
  }

  .logo {

  }

  .menu{
    align-items: center;
    margin-top: 15px;
  }

  .menu ul {
    gap: 38px;
    margin-right: 68px;
    margin-top:30px;
  }

  .menu ul li {
    font-family: "Aboreto", system-ui;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.5px;
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;
    display: inline;
    padding: 40px;
  }

  .menu ul li a {
    text-decoration: none;
    color: white;
  }

  .menu ul li a:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-color: #1f45f1;
  }

  /* end of navbar styling */

  /*Styling of hero section*/
  .hero{
    margin-left: 80px;
    width: auto;
    height: 600px;
    margin-top: 20px;
  }

  .text{
    display: flex;
    padding-left: 45px;
  }

  .name_paragraph {
    color: white;
    font-family: "Aboreto", system-ui;
    font-size: 14px;
    padding-left: 50px;
    margin-left: 50px;
  }

  .sub-title{
    font-family: "Aboreto", system-ui;
    color: white;
    padding-left: 45px;
    padding-top: 0;
  }
}

@media (min-width: 960px) and (max-width:1950px){
  header{
    border-bottom: 2px solid white;
    padding-bottom: 10px;
    overflow-y: scroll;
  }
  .name_picture {
    display: flex;
    align-items: flex-end;
    position: relative;
    margin-left: 50px;
  }

  .name_header {
    color: white;
    line-height: 1.5;
    font-family: "Aboreto", system-ui;
    font-weight: 400;
    font-size: 90px;
    margin-top: auto;
    bottom: 0;
    right: 0;
    padding-left: 10px;
    align-items: flex-end;
    align-self: center;
  }

  /* start of navbar styling */
  .nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 0px 0px;
  }

  .logo {

  }

  .menu{
    align-items: center;
    margin-top: 15px;
  }

  .menu ul {
    gap: 38px;
    margin-right: 68px;
    margin-top:30px;
  }

  .menu ul li {
    font-family: "Aboreto", system-ui;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.5px;
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;
    display: inline;
    padding: 40px;
  }

  .menu ul li a {
    text-decoration: none;
    color: white;
  }

  .menu ul li a:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-color: #1f45f1;
  }

  /* end of navbar styling */

  /*Styling of hero section*/
  .hero{
    margin-left: 60px;
    width: auto;
    height: 500px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .text{
    display: block;

  }

  .name_paragraph {
    color: white;
    font-family: "Aboreto", system-ui;
    font-size: 14px;
    padding-left: 20px;
    margin-right: 40px;

  }

  .sub-title{
    font-family: "Aboreto", system-ui;
    color: white;
    padding-left: 20px;
    padding-top: 0;
  }

  .button_clic_me{
    align-items: center;
    background-color: #ffffff;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: "Aboreto", system-ui;
    font-size: 20px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    margin-left: 40%;
    text-decoration: none;
  }

  .button_clic_me:hover:after {
    transform: translate(0, 0);
  }

  .button_clic_me:active {
    background-color: #ffdeda;
    outline: 0;
  }

  .button_clic_me:hover {
    background-color: #929292;
  }

  .form-text{
    color: white;
    font-family: "Aboreto", system-ui;
    display: flex;
    align-items: center;
    margin-left: 100px;
    font-size: 30px;
  }

  .portrait{
    border-radius: 5px;
    border: solid white 5px;
    width: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 80px;
    margin-right: 10px;;
  }

  .about_me{
    font-family: "Aboreto", system-ui;
    color: #ffffff;
    display: flex;
    margin-right: 0;
    font-size: 20px;
    align-items: flex-end;
    position: relative;
    margin-left: 50px;
  }

  .about_list{
    margin-bottom: 120px;

  }

  label{
    color: white;
    font-family: "Aboreto", system-ui;
    margin-left: 100px;
  }

  input{
    margin-bottom: 10px;
    width: 80%;
    margin-left: 100px;
    align-items: center;
    justify-content: center;
    padding: 5px;
    display: flex;
    align-self: center;
    border-radius: 4px;
    box-sizing: border-box;
  }
  textarea{
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 100px;
    border-radius: 4px;
    box-sizing: border-box;
    margin-right: 50px;
  }

  .button_clic_me2{
    align-items: center;
    background-color: #ffffff;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: "Aboreto", system-ui;
    font-size: 20px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    margin-left: 40%;
    text-decoration: none;
    margin-bottom: 20px;
  }

  .button_clic_me2:hover:after {
    transform: translate(0, 0);
  }

  .button_clic_me2:active {
    background-color: #ffdeda;
    outline: 0;
  }

  .button_clic_me2:hover {
    background-color: #929292;
  }
  footer{
    border-top: 2px solid white;
    padding-top: 10px;
    margin-top: 20px;
  }
}
