*{
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  overflow-y: auto;
}

header{
  border-bottom: 2px solid white;
}

.name_picture {
  display: flex;
  align-items: flex-end;
  position: relative;
  margin-left: 50px;
}

.name_header {
  color: white;
  line-height: 1;
  font-family: "Aboreto", system-ui;
  font-weight: 400;
  font-size: 90px;
  padding-left: 10px;
  align-items: flex-end;
  align-self: center;
  margin: 0;
}

/* start of navbar styling */
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
}

.logo {
  width: 30px;
  height: 30px;
}

 ul {
  display: flex;
  align-items: center;
  height: fit-content;
  width: 80%;
  justify-content: flex-end;
  column-gap: 30px;
}

 ul li {
  font-family: "Aboreto", system-ui;
  font-size: 10px;
  font-weight: 300;
  letter-spacing: 0.5px;
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
}

 ul li a {
  text-decoration: none;
  color: white;
}

 ul li a:hover {
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-color: #1f45f1;
}

/* end of navbar styling */

/*Styling of hero section*/
.hero {
  display: none;
  margin-left: 60px;
  width: 30%;
  margin-top: 20px;
  margin-bottom: 10px;
}

.text {
  display: block;
  width: 100%;
}

@media (min-width: 1000px) {
  .hero {
    display: block;
  }

  .text{
    width: 70%;
  }


   ul li {
    font-size: 14px;
  }

  .logo {
    width: 40px;
    height: 40px;
  }
}

.name_paragraph {
  color: white;
  font-family: "Aboreto", system-ui;
  font-size: 14px;
  padding-left: 20px;
  margin-right: 40px;

}

.sub-title{
  font-family: "Aboreto", system-ui;
  color: white;
  padding-left: 20px;
  padding-top: 0;
}

.button_clic_me{
  align-items: center;
  background-color: #ffffff;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: "Aboreto", system-ui;
  font-size: 20px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  text-decoration: none;
  margin-bottom: 20px;
}

.button_clic_me:hover:after {
  transform: translate(0, 0);
}

.button_clic_me:active {
  background-color: #ffdeda;
  outline: 0;
}

.button_clic_me:hover {
  background-color: #929292;
}

form{
  width: 90%;
  margin: 0 auto;
}

.form-text{
  color: white;
  font-family: "Aboreto", system-ui;
  font-style: bold;
  display: flex;
  font-size: 30px;
  width: 90%;
  margin-bottom: 20px;
}

.portrait{
  border-radius: 5px;
  border: solid white 5px;
  width: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 80px;
  margin-right: 10px;;
}

.about_me {
  width: 90%;
  font-family: "Aboreto", system-ui;
  color: #ffffff;
  margin-right: 0;
  font-size: 20px;
  margin: 50px auto;
}

.about_me .portrait {
  width: 30%;
  max-width: 200px;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
  margin: 0;
}

.about_me ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 15px;
  flex-wrap: wrap;
  width: 70%;
}

.about_me ul li {
  width: 40%;
}

.about_me > div {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

label{
  color: white;
  font-family: "Aboreto", system-ui;
}

input{
  margin-bottom: 10px;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 5px;
  display: flex;
  align-self: center;
  border-radius: 4px;
  box-sizing: border-box;
}
textarea{
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-sizing: border-box;
  margin-right: 50px;
}

.button_clic_me2{
  align-items: center;
  background-color: #ffffff;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: "Aboreto", system-ui;
  font-size: 20px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  width: fit-content;
  padding: 0 25px;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  text-decoration: none !important;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;
}
.button_clic_me2:hover {
  background-color: #929292;
}
footer{
  border-top: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}
